body {
    font-family: 'Roboto', sans-serif;
}
/* -----------   header   ----------- */
.app-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background: lightblue;
}

.search-input {
    height: 30px;
    width: 500px;
    line-height: 40px;
    border: none;
    -webkit-appearance: textfield;
    font-size: 20px;
    border-radius: 5px 0 0 5px;
    padding-left: 5px;
}

.search-btn {
    height: 30px;
    border: none;
    background: cornflowerblue;
    color: white;
    width: 100px;
    font-size: 18px;
    border-radius: 0 5px 5px 0;
}

/* -----------   content   ----------- */

.boxes {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
}

.box {
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.box img {
    width: 210px;
    height: 295px;
}

/* -----------   modal   ----------- */

.modal-wrapper {
    transition: .3s ease-out;
    opacity: 0;
    display: none;
}

.modal-wrapper.shown {
    display: block;
}

.modal-wrapper.visible {
    opacity: 1;
}

.modal-wrapper .backdrop {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-wrapper .modal-close-btn {
    cursor: pointer;
    float: right;
    margin: 10px;
}

.modal-wrapper .modal-body {
    position: absolute;
    height: 500px;
    width: 70%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: white;
    overflow: scroll;
    box-shadow: 0 1px 15px 7px #dcdcdc;
}

.modal-wrapper .modal-content {
    width: 97%;
    padding: 10px 0 30px 10px;
}
